---
import hierbasTe from "../../data/hierbasTe.json"
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return hierbasTe.map((producto) => {
    return {
      params: {
        id: producto.id,
      },
    };
  });
}

const { id } = Astro.params;
// Buscamos el producto en la lista de productos por su ID
const producto = hierbasTe.find((producto) => producto.id == id);

// Si encontramos el producto, obtenemos su nombre
const nombreDelProducto = producto ? producto.name : "Producto no encontrado";
const imagenDelProducto = producto.image;
const descDelProducto = producto.description;
const formatosDelProducto = producto.formatos;
const precioMin = producto.precioMin;
---

<Layout>
  <slot name="content">
    <div class="flex justify-center">
      <div class="w-auto mt-20">
        <img class="w-70 h-60" src={imagenDelProducto} alt={nombreDelProducto} />
      </div>
      <div
        class="max-w-4xl overflow-hidden m-4 flex"
      >
        <!-- Sección de la imagen del producto -->

        <!-- Sección del nombre del producto y detalles -->
        <div class=" p-4">
          <div class="px-6 py-4">
            <div class="font-bold text-2xl mb-2 text-yellow-600 uppercase">
              {nombreDelProducto}
            </div>
            <!-- Agrega detalles adicionales aquí -->
            <p class="text-gray-400">{descDelProducto}</p>
            <p class="text-gray-500 font-bold mt-2">Los formatos disponibles son de: {formatosDelProducto}</p>
            <!-- y así sucesivamente -->
            <h2 class="text-yellow-600 mt-2 font-bold text-xl">Desde: {precioMin}</h2>
          </div>
          <a
          class="bg-amber-800 hover:bg-amber-600 text-slate-100 font-bold py-2 px-4 rounded ml-6 uppercase cursor-pointer"
        >
          Cotizar
        </a>
        </div>
        
      </div>
      
    </div>
  </slot>
</Layout>
